{{ define "main" }}

<main role="main" class="container">
  {{ with .Content }}
  <header class="lead dots">
    {{ partial "content.html" . }}
  </header>
  {{ end }}

  <section class="posts-list">
    {{ range .Paginator.Pages }}
      {{ partial "post_preview.html" .}}
    {{ end }}
  </section>
  
  <!--
  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
  -->
</main>
{{ end }}
