{{ define "main" }}
<main class="container" role="main">

  <article class="blog-post">
    {{ partial "content.html" .Content }}
    {{ if .Params.disclaimer }}
    <hr>
    <div class="mono text-75">
      {{ .Params.disclaimer | markdownify }}
    </div>
    {{ end }}
    <hr>
    <footer>
      {{ if ne .Page.Type "page" }}
        {{ partial "post_date" . }}
      {{ end }}

      {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
          <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
      {{ end }}
    </footer>
    {{ if $.Param "socialShare" }}
    <section id="social-share">
      <div class="list-inline footer-links">
        {{ partial "share-links" . }}
      </div>
    </section>
    {{ end }}

    {{ if .Site.Params.showRelatedPosts }}
      {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        {{ $.Scratch.Set "has_related" true }}
      {{ end }}

      {{ if $.Scratch.Get "has_related" }}
        <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
        <ul>
          {{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
          {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  </article>
  
  <!--
  {{ if ne .Type "page" }}
    <ul class="pager">
      {{ if .PrevInSection }}
        <li class="previous">
          <a href="{{ .PrevInSection.Permalink }}" title="{{ i18n "previousPost" }}">{{ .PrevInSection.Title }}</a>
        </li>
      {{ end }}
      {{ if .NextInSection }}
        <li class="next">
          <a href="{{ .NextInSection.Permalink }}" title="{{ i18n "nextPost" }}">{{ .NextInSection.Title }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
  -->

  {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
    {{ if .Site.DisqusShortname }}
      {{ if .Site.Params.delayDisqus }}
      <footer class="disqus-comments">                  
        <button id="show-comments" class="btn btn-default" type="button">{{ i18n "show" }} <span class="disqus-comment-count" data-disqus-url="{{ trim .Permalink "/" }}">{{ i18n "comments" }}</span></button>
        <div id="disqus_thread"></div>

        <script type="text/javascript">
          var disqus_config = function () {
          this.page.url = '{{ trim .Permalink "/" }}';
        };

      </script>
      </footer>
      {{ else }}
      <footer class="disqus-comments">
        {{ template "_internal/disqus.html" . }}
      </footer>
      {{ end }}
    {{ end }}
    {{ if .Site.Params.staticman }}
      <footer class="staticman-comments">
        {{ partial "staticman-comments.html" . }}
      </footer>
    {{ end }}
  {{ end }}

</main>
{{ end }}
