<footer role="contentinfo">
  <div>
    <p class="credits copyright">
      {{ if .Site.Author.name }}
        {{ if .Site.Author.website }}
          <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
        {{ else }}
          <span id="author">{{ .Site.Author.name }}</span>
        {{ end }}
      {{ end }}
      &nbsp;&middot;&nbsp; 
      {{ if .Site.Params.licenselink }}
        {{ if .Site.Params.licenselink }}
          <a id="license" href="{{ .Site.Params.licenselink }}">
            {{ if .Site.Params.licensetitle }}
            <abbr title="{{ .Site.Params.licensetitle }}">{{ .Site.Params.license }}</abbr>
            {{ else }}
              {{ .Site.Params.license }}
            {{ end }}</a> 
        {{ else }}
          {{ .Site.Params.license }}
        {{ end }}
      {{ else }}
        &copy;
      {{ end }}
    </p>
    <p class="credits theme-by">
      {{ i18n "poweredBy" . | safeHTML }}
    </p>
  </div>

  <nav>
    <ul class="nav navbar-nav navbar-right">
      {{ range .Site.Menus.footer.ByWeight }}
        {{ if .HasChildren }}
          <li class="navlinks-container">
            <a class="navlinks-parent">{{ .Name }}</a>
            <div class="navlinks-children">
              {{ range .Children }}
                <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
        {{ else }}
          <li>
            <a href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
      {{ if .Site.Params.rss }}
      <li>
        <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}"><abbr title="Really Simple Syndication">RSS</abbr></a>
      </li>
      {{ end }}

      {{ if .Site.IsMultiLingual }}
        {{ if ge (len .Site.Languages) 3 }}
          <li class="navlinks-container">
            <a class="navlinks-parent">{{ i18n "languageSwitcherLabel" }}</a>
            <div class="navlinks-children">
              {{ range .Site.Languages }}
                {{ if not (eq .Lang $.Site.Language.Lang) }}
                <a href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
                {{ end }}
              {{ end }}
            </div>
          </li>
        {{ else }}
          <li>
            {{ range .Site.Languages }}
              {{ if not (eq .Lang $.Site.Language.Lang) }}
                <a href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
              {{ end }}
            {{ end }}
          </li>
        {{ end }}
      {{ end }}

      {{ if isset .Site.Params "gcse" }}
        <li>
          <a href="#modalSearch" data-toggle="modal" data-target="#modalSearch" style="outline: none;">
            <span class="hidden-sm hidden-md hidden-lg">{{ i18n "gcseLabelShort" }}</span> <span id="searchGlyph" class="glyphicon glyphicon-search"></span>
          </a>
        </li>
      {{ end }}
    </ul>
  </nav>
</footer>

<!--<script src="{{ "js/main.js" | absURL }}"></script>-->
{{- if .Site.Params.staticman }}
<script src="{{ "js/staticman.js" | absURL }}"></script>
{{- end }}
{{- if  .Site.Params.useHLJS }}
<script src="{{ "js/highlight.min.js" | absURL }}"></script>
<script> hljs.initHighlightingOnLoad(); </script>
<script> $(document).ready(function() {$("pre.chroma").css("padding","0");}); </script>
{{- end -}}
<!--<script> renderMathInElement(document.body); </script>-->

{{ if .Site.Params.piwik }}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ .Site.Params.piwik.server }}/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "{{ .Site.Params.piwik.id }}"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript>
<!-- Piwik Image Tracker -->
<img src="http://{{ .Site.Params.piwik.server }}/piwik.php?idsite={{ .Site.Params.piwik.id }}&amp;rec=1" style="border:0" alt="" />
<!-- End Piwik -->
</noscript>
<!-- End Piwik Code -->
{{ end }}

{{ if and .Site.Params.delayDisqus .Site.DisqusShortname }}
<!-- Delayed Disqus -->
<script type="text/javascript">
$(function(){
  $('#show-comments').on('click', function(){
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
      
    (function() {
      var disqus = document.createElement('script'); 
      disqus.type = 'text/javascript'; 
      disqus.async = true;
      disqus.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(disqus);
    })();
      
    $(this).hide(); 
    });
  });
      
</script>
<script id="dsq-count-scr" src="//{{ .Site.DisqusShortname }}.disqus.com/count.js" async></script>
<!-- End Delayed Disqus -->
{{ end }}

<!-- Simple Analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>
<!-- End Simple Analytics -->

{{- partial "footer_custom.html" . }}
