{{- if eq .Kind "taxonomyTerm" }}
  {{- range $key, $value := .Data.Terms.ByCount }}
    {{- $.Scratch.Add "most_used" (slice $value.Name) }}
  {{- end }}
  {{- if not ($.Scratch.Get "most_used") }}
    {{- $description := printf "A full overview of all pages with %s, ordered by %s" .Data.Plural .Data.Singular | truncate 180 }}
    {{- $.Scratch.Set "Description" $description }}
  {{- else }}
    {{- $description := printf "A full overview of all pages with %s, ordered by %s, such as: %s" .Data.Plural .Data.Singular ( delimit ( $.Scratch.Get "most_used" ) ", " ", and " ) | truncate 180 }}
    {{- $.Scratch.Set "Description" $description }}
  {{- end }}

  {{- $title := printf "Overview of all pages with %s, ordered by %s" .Data.Plural .Data.Singular }}
  {{- $.Scratch.Set "Title" $title }}
{{- else if eq .Kind "taxonomy" }}
  {{- $description := printf "Overview of all pages with the %s #%s, such as: %s" .Data.Singular $.Title ( index .Pages 0).Title | truncate 160 }}
  {{- $.Scratch.Set "Description" $description }}

  {{- $title := printf "Overview of all pages with the %s #%s" .Data.Singular $.Title }}
  {{- $.Scratch.Set "Title" $title }}
{{- else }}
  {{- $.Scratch.Set "Description" ( .Description | default .Params.subtitle | default .Summary ) }}
  {{- $.Scratch.Set "Title" ( .Title | default .Site.Title ) }}
{{- end }}

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!-- Site Title, Description, Author, and Favicon -->
{{- with ($.Scratch.Get "Title") }}
  {{ if $.IsHome }}
    <title>{{ $.Site.Title }}</title>
  {{ else }}
    <title>{{ . }} &middot; {{ $.Site.Title }}</title>
  {{ end }}
{{- end }}
{{- with ($.Scratch.Get "Description") }}
  <meta name="description" content="{{ . }}">
{{- end }}
{{- with .Site.Author.name }}
  <meta name="author" content="{{ . }}"/>
{{- end }}
{{- if not .IsHome }}
  <meta property="article:published_time" content="{{ dateFormat "2006-01-02" .Date | safeHTML }}">
  <meta property="article:modified_time" content="{{ dateFormat "2006-01-02" .Lastmod | safeHTML }}">
{{- end }}
{{- partial "seo/main.html" . }}  
{{- with .Site.Params.favicon }}
<link rel='icon' type='image/x-icon' href='{{ . | absURL }}'/>
{{- end -}}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
<meta name="theme-color" content="#F5EBD6">
<link rel="manifest" href="/manifest.json">
<!-- Hugo Version number -->
  {{ hugo.Generator -}}
<!-- Links and stylesheets -->
  <link rel="preload" href="/fonts/sweardeck-regular-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Degular-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Degular-Medium.woff2" as="font" type="font/woff2" crossorigin>
  
  {{- with .Permalink }}
  <link rel="canonical" href="{{ . }}">
  {{- end }}
  <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  
  {{ $style := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  {{- if .Site.Params.staticman -}}
  <link rel="stylesheet" href="{{ "css/staticman.css" | absURL }}" />
  {{- end -}}
  
  <!--
  {{- if .Site.Params.useHLJS }}
  <link rel="stylesheet" href="{{ "css/highlight.min.css" | absURL }}" />
  {{- else -}}
  <link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}" />
  {{- end -}}
  <link rel="stylesheet" href="{{ "css/codeblock.css" | absURL }}" />
  -->
  
  {{- if .Site.Params.staticman.recaptcha -}}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {{- end -}}

{{- partial "head_custom.html" . }}
{{ template "_internal/google_analytics_async.html" . }}
