{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}{{ $.Scratch.Set "title" .Site.Params.homeTitle }}{{ else }}{{ $.Scratch.Set "title" .Site.Title }}{{ end }}
  {{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
  {{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
  {{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}
{{ end }}
{{ $title := $.Scratch.Get "title" }}
{{ $subtitle := $.Scratch.Get "subtitle" }}

<header class="intro-header">
  <div class="{{ .Type }}-heading">
    {{ if not .IsHome }}
      {{ if eq .Type "list" }}
        <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
      {{ else }}
        <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
      {{ end }}
      {{ if $subtitle }}
        {{ if eq .Type "page" }}
          <span class="{{ .Type }}-subheading">{{ $subtitle | markdownify }}</span>
        {{ else }}
          <h2 class="{{ .Type }}-subheading">{{ $subtitle | markdownify }}</h2>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</header>

