<header class="navbar navbar-custom dots" role="banner">
  {{ if .IsHome }}
  <h1 class="navbar-brand">{{ .Site.Title }}</h1>
  {{ else }}
  <a class="navbar-brand" href="{{ "" | absLangURL }}" title="mycelium · accueil">{{ .Site.Title }}</a>
  {{ end }}
</header>

<!-- Search Modal -->
{{ if isset .Site.Params "gcse" }}
  <div id="modalSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ i18n "gcseLabelLong" . }}</h4>
        </div>
        <div class="modal-body">
          <gcse:search></gcse:search>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "gcseClose" }}</button>
        </div>
      </div>
    </div>
  </div>
{{ end }}
