/* --- General --- */

:root {
  --bg-color: #F5EBD6;
  --text-color-100: #294224;
  --text-color-75: #5F7053;
  --text-color-60: #7E8E7B;
  --primary-color: #3B7659;
  --secondary-color: #91D0AD;
  --selection-color: #FFE252;
}

@font-face {
  font-family: 'Swear Deck';
  src: local('Swear Deck Regular'), local('SwearDeck-Regular'),
       url('/fonts/sweardeck-regular-subset.woff2') format('woff2'),
       url('/fonts/sweardeck-regular-subset.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Swear Deck';
  src: local('Swear Deck Italic'), local('SwearDeck-Italic'),
       url('/fonts/sweardeck-italic-subset.woff2') format('woff2'),
       url('/fonts/sweardeck-italic-subset.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Degular';
  src: local('Degular Regular'), local('Degular-Regular'),
       url('/fonts/Degular-Regular.woff2') format('woff2'),
       url('/fonts/Degular-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Degular';
  src: local('Degular Italic'), local('Degular-Italic'),
       url('/fonts/Degular-Italic.woff2') format('woff2'),
       url('/fonts/Degular-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Degular';
  src: local('Degular Medium'), local('Degular-Medium'),
       url('/fonts/Degular-Medium.woff2') format('woff2'),
       url('/fonts/Degular-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Degular', sans-serif;
  font-size: 18px;
  position: relative;
  background: #FFF;
  height: 100vh;
  max-width: 45rem;
  margin: auto;
  padding: 2rem 5%;
  background: var(--bg-color);
  color: var(--text-color-100);
}
.container[role=main] {
  margin-bottom:50px;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media only screen and (max-width: 767px) {
  .container[role=main] {
    margin-left: 0;
    margin-right: 0;
  }
}

.mono {
  font-family: "Courier", monospace;
  font-size: 1rem;
  line-height: 1.5;
}
.text-60 { color: var(--text-color-60) }
.text-75 { color: var(--text-color-75) }

/* Display */
.flex { 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-1 {
  -webkit-box-flex: 1 1 0%;
  -moz-box-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}

/* Margin */
.m-0  { margin: 0 }
.m-1  { margin: 0.25rem }
.m-2  { margin: 0.5rem }
.m-3  { margin: 0.75rem }
.m-4  { margin: 1rem }
.m-5  { margin: 1.25rem }
.m-6  { margin: 1.5rem }
.m-8  { margin: 2rem }

.ml-0  { margin-left: 0 }
.ml-1  { margin-left: 0.25rem }
.ml-2  { margin-left: 0.5rem }
.ml-3  { margin-left: 0.75rem }
.ml-4  { margin-left: 1rem }
.ml-5  { margin-left: 1.25rem }
.ml-6  { margin-left: 1.5rem }
.ml-8  { margin-left: 2rem }

.mr-0  { margin-right: 0 }
.mr-1  { margin-right: 0.25rem }
.mr-2  { margin-right: 0.5rem }
.mr-3  { margin-right: 0.75rem }
.mr-4  { margin-right: 1rem }
.mr-5  { margin-right: 1.25rem }
.mr-6  { margin-right: 1.5rem }
.mr-8  { margin-right: 2rem }

.mt-0  { margin-top: 0 }
.mt-1  { margin-top: 0.25rem }
.mt-2  { margin-top: 0.5rem }
.mt-3  { margin-top: 0.75rem }
.mt-4  { margin-top: 1rem }
.mt-5  { margin-top: 1.25rem }
.mt-6  { margin-top: 1.5rem }
.mt-8  { margin-top: 2rem }

.mb-0  { margin-bottom: 0 }
.mb-1  { margin-bottom: 0.25rem }
.mb-2  { margin-bottom: 0.5rem }
.mb-3  { margin-bottom: 0.75rem }
.mb-4  { margin-bottom: 1rem }
.mb-5  { margin-bottom: 1.25rem }
.mb-6  { margin-bottom: 1.5rem }
.mb-8  { margin-bottom: 2rem }

/* Padding */
.p-0  { padding: 0 }
.p-1  { padding: 0.25rem }
.p-2  { padding: 0.5rem }
.p-3  { padding: 0.75rem }
.p-4  { padding: 1rem }
.p-5  { padding: 1.25rem }
.p-6  { padding: 1.5rem }
.p-8  { padding: 2rem }

.pl-0  { padding-left: 0 }
.pl-1  { padding-left: 0.25rem }
.pl-2  { padding-left: 0.5rem }
.pl-3  { padding-left: 0.75rem }
.pl-4  { padding-left: 1rem }
.pl-5  { padding-left: 1.25rem }
.pl-6  { padding-left: 1.5rem }
.pl-8  { padding-left: 2rem }

.pr-0  { padding-right: 0 }
.pr-1  { padding-right: 0.25rem }
.pr-2  { padding-right: 0.5rem }
.pr-3  { padding-right: 0.75rem }
.pr-4  { padding-right: 1rem }
.pr-5  { padding-right: 1.25rem }
.pr-6  { padding-right: 1.5rem }
.pr-8  { padding-right: 2rem }

.pt-0  { padding-top: 0 }
.pt-1  { padding-top: 0.25rem }
.pt-2  { padding-top: 0.5rem }
.pt-3  { padding-top: 0.75rem }
.pt-4  { padding-top: 1rem }
.pt-5  { padding-top: 1.25rem }
.pt-6  { padding-top: 1.5rem }
.pt-8  { padding-top: 2rem }

.pb-0  { padding-bottom: 0 }
.pb-1  { padding-bottom: 0.25rem }
.pb-2  { padding-bottom: 0.5rem }
.pb-3  { padding-bottom: 0.75rem }
.pb-4  { padding-bottom: 1rem }
.pb-5  { padding-bottom: 1.25rem }
.pb-6  { padding-bottom: 1.5rem }
.pb-8  { padding-bottom: 2rem }


[hidden], .hidden {
  display: none;
}
@media (min-width: 48rem ) { /* 768px */
  .md\:inline { display: inline }
  .md\:block  { display: block }
  .md\:flex   { display: flex }

  .md\:mr-4   { margin-right: 1em }
  .md\:ml-4   { margin-left: 1em }
}


p, dl {
  font-size: 1.333rem;
  line-height: 1.5;
}
p + p, dl + p, p + dl {
  margin-top: 1.5em;
}
p a {
  /* text-decoration: underline */
  color: var(--primary-color);
}
.lead {
  padding-bottom: 1.5em;
}
.lead > p {
  font-size: 7.5vw;
  line-height: 1.25;
  margin-top: 3rem;
  margin-bottom: 0;
}
@media (min-width: 26.75rem) { /* 428px */
  .lead > p {
    font-size: 2rem;
  }
}
@media (min-width: 48.75rem) { /* 780px */
  .lead > p {
    padding-right: 1.5rem;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:focus {
  color: var(--primary-color);
  text-decoration: underline;
}
@media (hover: hover) {
  a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
}
blockquote {
  font-family: "Swear Deck";
  font-style: italic;
  margin: 4rem 0;
  padding-left: 2rem;
  border-left: 1px solid var(--text-color-60);
}
blockquote p:first-child {
  margin-top: 0;
}
strong {
  font-weight: 500;
}
em, cite {
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

abbr {
  cursor: help;
  text-decoration: none;
}

dt, dd {
  display: inline;
  margin-left: 0;
}
dt:after {
  content: ":";
  margin-left: 0.125em;
  margin-right: 0.2em;
}

::-moz-selection {
  background: var(--selection-color);
}
::selection {
  background: var(--selection-color);
}
mark {
  background: var(--selection-color);
  color: var(--text-color-100);
}

sup {
  line-height: 1;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
}

/* Form */
form label {
  display: block;
  margin-bottom: 0.5rem;
}
form label abbr {
  color: var(--primary-color);
}
form input:not([type="submit"]),
form textarea {
  width: 100%;
  border: 1px solid var(--text-color-60);
  border-radius: .125rem;
  background: transparent;
  padding: .875em 1em;
  box-sizing: border-box;
  font-family: 'Courier', monospace;
  font-size: 18px;
  color: var(--text-color-100);
}
form input[type="submit"] {
  padding: .49em 1em 0.612em;
  border: none;
  border-radius: .125rem;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-family: 'Degular', sans-serif;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}
form input[type="submit"]:focus,
form input[type="submit"]:active {
  opacity: .75;
}
@media (hover: hover) {
  form input[type="submit"]:hover {
    opacity: .75;
  }
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 48rem) {
  .disqus-comments {
    margin-top: 40px;
  }
}

.dots:after {
  content: "......................................................................................";
  font-size: 1rem;
  font-family: monospace;
  font-size: 1rem;
  display: inline-block;
  max-width: min(45rem, 90vw);
  overflow-x: hidden;
  color: var(--text-color-60);
  margin-top: 3rem;
}


/* --- Navbar --- */

.navbar-custom {
  /*border-bottom: 2px dotted var(--text-color-100);*/
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.navbar-custom .navbar-brand {
  font-family: "Swear Deck", serif;
  font-weight: 400;
  font-size: 1.826875rem;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1rem;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  color: var(--text-color-100);
  text-decoration: none;
}

.navbar-custom a.navbar-brand:focus,
.navbar-custom .nav li a:focus {
  color: var(--primary-color);
}
@media (hover: hover) {
  .navbar-custom a.navbar-brand:hover,
  .navbar-custom .nav li a:hover {
    color: var(--primary-color);
  }
}

.navbar-custom .navbar-brand-logo {
  padding-top: 0;
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand-logo img {
  height: 50px;
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}
.navbar-custom.top-nav-short .navbar-brand-logo {
  padding-top: 5px;
}
.navbar-custom.top-nav-short .navbar-brand-logo img {
  height: 40px;
}
.navbar-custom > *:last-child {
  color: var(--text-color-75);
}

/* --- Footer --- */

footer[role="contentinfo"] {
  padding: 4rem 0 2rem;
  margin-top: auto;
  font-size: 1rem;
  color: var(--text-color-75);
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: baseline;
}
footer[role="contentinfo"] p {
  font-size: 1rem;
}

footer[role="contentinfo"] .list-inline {
  margin: 0;
  padding: 0;
}
footer[role="contentinfo"] .copyright {
  margin-bottom: 0;
}
footer[role="contentinfo"] .theme-by {
  margin: 0 0;
}
footer[role="contentinfo"] nav {
  flex-shrink: 0;
}
footer[role="contentinfo"] nav ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
}
footer[role="contentinfo"] nav ul > li + li {
  margin-left: 1em;
}
footer[role="contentinfo"] nav ul > li > a {
  color: var(--text-color-100);
  text-decoration: none;
  line-height: 1.5;
}
@media (min-width: 30rem) { /* 480px */
  footer[role="contentinfo"] {
    flex-direction: row;
  }
  footer[role="contentinfo"] nav ul {
    display: block;
    margin-left: 4rem;
  }
  footer[role="contentinfo"] nav ul > li + li {
    margin-left: 0;
  }
  .sm\:flex { display: flex }

  .sm\:mr-4 { margin-right: 1em }
  .sm\:ml-4 { margin-left: 1em }
}

/* --- Post preview --- */

.post-preview {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

@media only screen and (min-width: 48rem) {
  .post-preview {
    padding: 1rem 0;
  }
}

.post-preview a {
  text-decoration: none;
  color: var(--primary-color);
}

.post-preview a:focus {
  text-decoration: none;
  color: var(--primary-color);
}
.post-preview .post-title > a {
  color: var(--text-color-100);
}
.post-preview .post-title > a:focus {
  color: var(--primary-color);
}
@media (hover: hover) {
  .post-preview a:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
  .post-preview .post-title > a:hover {
    color: var(--primary-color);
  }
}

.post-preview .post-title,
.intro-header h1 {
  font-family: "Swear Deck", serif;
  font-size: 15vw;
  font-weight: 200;
  margin: 0.5rem 0 0;
  line-height: 1;
}
@media (min-width: 26.6875rem) { /* 427px */
  .post-preview .post-title,
  .intro-header h1 {
    font-size: 4rem;
  }
}

.post-preview .post-subtitle {
  font-size: 2rem;
  margin: 0;
}
.post-preview .post-meta {
  -webkit-box-ordinal-group: -1;  
  -moz-box-ordinal-group: -1;     
  -ms-flex-order: -1;     
  -webkit-order: -1;  
  order: -1;
}
.post-preview .post-meta,
.post-heading .post-meta,
.page-meta {
  font-size: 1rem;
  font-family: "Courier", monospace;
  font-size: 1rem;
  margin: 1rem 0;
  color: var(--text-color-75);
}
.page-meta {
  align-self: center;
}
.post-preview .post-meta a,
.post-heading .post-meta a,
.page-meta a {
  text-decoration: none;
}
.post-date {
  font-family: "Courier", monospace;
  font-size: 1rem;
  color: var(--text-color-75);
}
.post-preview .post-entry {
  font-family: "Degular", sans-serif;
}
.post-entry-container {
  display: inline-block;
  width: 100%;
}
.post-entry {
  width: 100%;
  margin-top: 10px;
}
.post-image {
  float: right;
  height: 192px;
  width: 192px;
  margin-top: -35px;
  filter: grayscale(90%);
}
.post-image:hover {
  filter: grayscale(0%);
}
.post-image img {
  border-radius: 100px;
  height: 192px;
  width: 192px;
}
.post-preview .post-read-more {
  font-weight: 800;
  float: right;
}


/* --- Tags --- */

.blog-tags {
  color: var(--primary-color);
  font-size: 1.25rem;
  margin: .5rem 0;
}

.blog-tags a {
  color: var(--primary-color);
  text-decoration: none;
}

.blog-tags a:before,
.intro-header .tags-heading h1:before {
  content: "#";
}
@media (hover: hover) {
  .blog-tags a:hover {
    border-radius: 2px;
    color: var(--primary-color);
    text-decoration: underline;
  }
}



@media only screen and (max-width: 500px) {
  .post-image, .post-image img {
    height: 100px;
    width: 100px;
  }

  .post-image {
    width: 100%;
    text-align: center;
    margin-top: 0;
    float: left;
  }
}
/* --- Post and page headers --- */

.intro-header {
  margin: 3rem 0;
  position: relative;
}
.intro-header .page-heading h1,
.intro-header .tags-heading h1,
.intro-header .categories-heading h1 {
  margin-top: 0;
  font-size: 4rem;
}
.intro-header .tags-heading h1 {
  font-family: "Degular", sans-serif;
  color: var(--primary-color);
}
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 7.5vw;
  line-height: 1.25;
  display: block;
  margin: 4rem 0 0;
}
@media (min-width: 26.75rem) { /* 428px */
  .intro-header .page-heading .page-subheading,
  .intro-header .post-heading .post-subheading {
    font-size: 2rem;
  }
}

figure {
  margin: 4rem 0;
}

figure > figcaption {
  font-family: "Courier", monospace;
  color: var(--text-color-75);
  margin: 2rem 0;
  font-size: 1rem;
}

/* --- Blog post --- */

.blog-post h2 {
  font-size: 2.5rem;
  margin-top: 4rem;
  font-weight: 500;
}
.blog-post h3 {
  font-size: 2rem;
  line-height: 1.125;
  font-weight: 500;
  margin-top: 4rem;
}

.blog-post p {
  font-size: 1rem;
  font-size: max(5vw, 1rem);
}

.blog-post blockquote > p {
  font-size: 1.125rem;
  font-size: max(5.625vw, 1.125rem);
}
.blog-post blockquote > footer {
  font-family: "Courier", monospace;
  color: var(--text-color-75);
  font-size: 1rem;
  font-style: normal;
}
@media (min-width: 32rem) {
  .blog-post blockquote > p {
    font-size: 2rem;
  }
}
@media (min-width: 26.75rem) { /* 428px */
  .blog-post p {
    font-size: 1.333rem;
  }
  .blog-post blockquote > p {
    font-size: 1.5rem;
  }
}

.blog-post hr {
  border: 0;
}
.blog-post hr:after {
  content: "......................................................................................";
  font-size: 1rem;
  font-family: "Courier", monospace;
  font-size: 1rem;
  display: inline-block;
  max-width: min(45rem, 90vw);
  overflow-x: hidden;
  color: var(--text-color-60);
  margin: 2rem 0;
}

.blog-post > footer {
  margin: 2rem 0 2rem;
}

.footnote-ref {
  font-style: normal;
}

.footnotes > ol {
  margin: 0;
  font-family: "Courier", monospace;
  color: var(--text-color-75);
}
.footnotes > ol > li > p {
  font-size: 1rem;
  margin-bottom: 1rem;
}


/* --- Pager --- */

.pager {
  padding: 0;
  margin-top: 2rem;
  list-style: none;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pager li {
  width: 50%;
}
.pager li a {
  font-family: "Swear Deck";
  font-size: 1.5rem;
  color: var(--text-color-100);
  text-decoration: none;
}
.pager .previous:before {
  content: "←";
  margin-right: 0.5rem;
}
.pager .next {
  text-align: right;
}
.pager .next:after {
  content: "→";
  margin-left: 0.5rem;
}

/* --- Tables --- */

table {
  margin: 2rem 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}
table thead {
  border-bottom: 1px solid red;
}
table tr {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}
table tr th {
  border: 1px solid var(--text-color-60);
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding: 0.5rem 1rem;
}
table tr td {
  border: 1px solid var(--text-color-60);
  text-align: left;
  margin: 0;
  padding: 0.5rem 1rem;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

/* --- Social media sharing section --- */

#social-share-section {
  margin-bottom: 30px;
}

/* --- Google Custom Search Engine Popup --- */
#modalSearch table tr, #modalSearch table tr td, #modalSearch table tr th {
  border:none;
}
.reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button {
  box-sizing: content-box;
  line-height: normal;
}

/* IPython split style */
div.splitbox {width:100%; overflow:auto;}

div.splitbox div.left {
               width:48%;
               float:left;}
div.splitbox div.right {
               width:48%;
               float:right;}

@media only screen and (max-width: 600px) {
div.splitbox div.left {
               width:100%;
               float:left;}
div.splitbox div.right {
               width:100%;
               float:left;}
}

/* Delayed Disqus */
.disqus-comments button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: #FFF;
  border-radius: 0;
  color: #404040;
}
@media only screen and (min-width: 48rem) {
  .disqus-comments button {
    padding: 15px 25px;
  }
}
.disqus-comments button:hover, 
.disqus-comments button:focus {
  color: #FFF;
  background: #0085a1;
  border: 1px solid #0085a1;
}

/* Related posts */
h4.see-also {
  margin-top: 20px;
}

/* Sharing */
 ul.share {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
 ul.share li {
  display: inline-flex;
  margin-right: 5px;
}
 ul.share li:last-of-type {
  margin-right: 0;
}
 ul.share li .fab {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  transition: all 150ms ease-in-out;
  color: #fff;
}
 ul.share li a {
  background-color: #b5c6ce;
  display: block;
  border-radius: 50%;
  text-decoration: none !important;
  margin: 0;
}
 ul.share li:hover .fab {
  transform: scale(1.4)
}
